@font-face {
  font-family: "Porter Sans Block";
  src: url("~src/assets/fonts/porter-sans-block.woff");
  line-height: 0.1;
}

:root {
  --background-color: #333333;
  --text-color: #ffffff;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);

  font-family: Roboto, sans-serif;
}
